body{
font-family:Poppins;
background:#0f172a;
color:white;
margin:0;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.wallet-card{
background:linear-gradient(135deg,#7c3aed,#2563eb);
padding:25px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.wallet-card button{
margin-top:10px;
padding:12px;
width:100%;
border:none;
border-radius:12px;
background:white;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:20px;
}

.action{
padding:20px;
border-radius:18px;
text-align:center;
background:#1e293b;
}

.transactions{
margin-top:25px;
background:#1e293b;
padding:15px;
border-radius:18px;
}
